<!DOCTYPE html>
<html lang="en" data-theme="aqua">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="1061032214928-gri7snouobam8a8c3h9mka3pgks43otv.apps.googleusercontent.com">
  <link rel="stylesheet" href="/assets/main.bundle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c7888ce271.js" crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/assets/main.bundle.js" defer></script>
  <title>{{ title }}</title>
  {% block head %}{% endblock %}
</head>
<body class="">
  {% block body %}

  
    <div class="container py-8">
      {{ content | safe }}
    </div>
  {% endblock %}
</body>
</html>