{# This page is built with nunjucks! #}

{% set title = 'Beach Cleanup Fans' %}
{% extends "layout.njk" %}

{% block body %}
  <main class="">
    <div class="min-h-screen flex items-center justify-center">
    <div class="card w-96 bg-base-300 shadow-xl">
  <figure><img src="https://j28b3d.a2cdn1.secureserver.net/wp-content/uploads/2023/01/cropped-logo-new-bw-Recovered-163x163.png" alt="Shoes" /></figure>
  <div class="card-body">
    <h2 class="card-title">Success!</h2>
    <p>We'll be in touch when we go live!</p>
    <div class="card-actions justify-center">
      <a href="https://betterdays.foundation" class="btn btn-primary">Learn More about the Cleanups!</a>
    </div>
  </div>
</div>
  </div>

  
  </main>
{% endblock %}



